.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::before{
  background: url('./img/download-1.webp') no-repeat center center/cover;
  content: "";
  position: absolute;  
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.navigation{
  display: flex;
  width: 100%;
  height: 90px;
  /* margin: 5px auto; */
  justify-content: center;
  align-items: center;
  background-color:teal;
  
}
.mylog{
  display: block;
  width: 100px;
  height: 80px;
}
.log{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inp{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hd{
  color: lemonchiffon;
}
.btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 5%;
  margin: 35px;
  
}
.btn{
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border-radius: 20px;
}

#btn1{
  width: 120px;
  height: 40px;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}

#btn1:hover
{
  background-color: white;
  color: black;
}

#midpart{
  width: 320px;
  height: 400px;
  background-color: rgb(201, 245, 245);
  border: 2px solid violet;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
#midparts{
  width: 320px;
  height: 300px;
  background-color: rgb(201, 245, 245);
  border: 2px solid violet;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}

h3{
  color: blue;
}
input{
  padding: 10px;
  margin: 4px 15px;
  color: red;
  border-radius: 10px;
  font-weight: bold;
}

.hrl{
  width: 95%;
  background-color: brown;
}

#submit{
  width: 125px;
  height: 30px;
  border-radius: 15px;
  background-color: green;
  color: lemonchiffon;
  font-size: 17px;
  margin: 12px auto;
  cursor: pointer;
  border: none;
}

footer{
  position: fixed;
  width: 100%;
  /* height: 20px; */
  padding: 0px;
  bottom: 0px;
  background-color: teal;
  color: lemonchiffon;
  font-weight: lighter;
}
.shift{
  color: blue;
  cursor: pointer;
  font-weight: bold;

}

